html{
	position: relative;
}


body{
	margin-bottom: 100px;
	font-family: 'Varela Round', sans-serif;
	background-image: url('backroundutama.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}
/*navigasi*/
a{
	color: #19323c;
}

.navbar-brand{
	font-size: 1.5rem;
	font-weight: 700;
}

.nav-link{
	font-size: 1.1rem;
	font-weight: 500;
}

.hero-content{
	margin-top: 4rem;
}
.hero-content h2{
	font-weight: 800;
	font-size: 3rem;
}
.hero-content h3{
	font-weight: 600;
}

/*about*/
#more {display: none;}

.about .selection-heading {
	font-weight: 500;
	font-size: 3rem;
}
.about .mt-3 {
	text-indent: 45px;
}

.btn-dark {
	background-color: #0FDEE6;
	color:#fafaff;
	font-size: 1.3rem;
}

/*team*/
.team
{
	margin: 100px 0;
}
h1
{
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	color: #333;
	padding-bottom: 10px;
}
h1:after
{
	content: '';
	background: #333;
	display: block;
	height: 3px;
	width: 150px;
	margin: 10px auto;
}
.profile
{
	margin-top: 25px;
}
.profile .img-box
{
	opacity: 1;
	display: block;
	position: relative;
}
.profile h2
{
	font-size: 20px;
	font-weight: bold;
	margin-top: 15px;
}
.profile h3
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}
.img-box:after
{
	content: '';
	opacity: 0;
	background-color: rgb(0, 0, 0, 0, 6);
	position: center;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.img-responsive
{
	width: 200px;
	height: 200px;
}
